<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8" />
<title> My musiccc </title>



</head>


    <h1>Hello GeeksforGeeks</h1>
    <h2>Hello GeeksforGeeks</h2>
    <h3>Hello GeeksforGeeks</h3>
    <h4>Hello GeeksforGeeks</h4>
    <h5>Hello GeeksforGeeks</h5>
    <h6>Hello GeeksforGeeks</h6>





<body style="background-color:powderblue;">
<h1 style="text-align:center;">And you are here today </h1>
<hr/>
<h2>Music bands are here,dude </h2>
<p> Due to numerous number of requests here you go.<strong> Bands!</strong> </p>
<ul style="list-style-type:square;">
	<li><a href="http://thescoremusic.com">The Score</a> </li>
	<li><a href="http://skillet.com">Skillet</a> </li>
	<li><a href="http://neffex.com">NEFFEX</a> </li>
</ul>
<br/>
<p><b>The Score</b> </p>
<ol type="A">
	<li>Revolution </li>
	<li>Rush </li>
	<li>Born for this </li>
	<li>Stay </li>
	<li>Stronger </li>
</ol>
<br/>
<hr/>
<p><b>Skillet</b></p>
<ol type="a">
	<li>The Resistance </li>
	<li>Burn It Down </li>
	<li>Rise </li>
	<li>I Want To Live </li>
	<li>Hero </li>
</ol>
<br/>
<hr/>
<p><b>NEFFEX</b></p>
<ol>
	<li>Make it </li>
	<li>Manifest it </li>
	<li>Never give up </li>
	<li>Spartan </li>
	<li>Fight back </li>
</ol>
<hr/>

{% for record in note %}
<p>{{record.title}}</p>
<p> {{record.text}}</p>
<p> {{record.reminder}}</p>
{% endfor %}
</body>



</html>